@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

* {
    margin: 0;
}
body {
    padding: 0;
    margin: 0;
    background-color: rgb(206, 200, 200);
}

#logo {
    margin-right:40px;
    width: 100px;
    vertical-align: middle;    
}

h1{
    padding: 2rem;
    margin: 0;
    color: rgb(255, 255, 255);
    background-color: #2B2D42;
    text-align: center;
    font-family: rowdies;
    font-size: 3rem;
}

main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 2rem;
    padding: 2rem;
    background-color: #8894AA;
    border-radius: 8px;
}

.press {
    border-radius: 8px ;
    background-color: #282A3E;
    padding: 1rem;
    width:200px;
    box-shadow: 0 0 3px 1.5px #181925;
}

.preview {
    border-radius: 8px;
    height: 180px;
    width: 100%;    
    box-shadow: 0 0 3px 3px #181925;
}

h3 {
    font-family: rowdies;
    font-size: 17px;
    color: white;
    letter-spacing: 3px;
    font-weight: 500;
}

.press p {
    font-family: rowdies;
    font-size: 14px;
    font-weight: 500;
    color: white;
    display: flex;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    letter-spacing: 1px;
}

.cost {
    font-family: rowdies;
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin-top: 10px;
}
span {
    color: rgb(245, 136, 11);
    font-family: rowdies;
    font-size: 14px;
    font-weight:500;
    float: right;
}

.press footer button{
    width: 100%;
    margin-top: 10px;
    padding: 0.5rem;
    border-color: #5054CE;
    border-radius: 8px;
    background-color: #e2e2e2;
    color: rgb(0, 0, 0);
    font-family: rowdies;
    letter-spacing: 0.6px;
    box-shadow: 0 0 3px 1px #52427e8e;
}

section footer button:hover{
    color: rgb(255, 255, 255);
    background-color: #5054CE;
}

